{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    "@babel/preset-react",
    [
      "babel-preset-react-app",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "babel-plugin-named-asset-import",
      {
        "loaderMap":{
            "svg":{
              "ReactComponent": "@svgr/webpack?-svgo,+titleProp,+ref![path]"
            }
        }
      }
    ]
  ]
}